{% extends "index.html" %}
{% block content %}
    {% for data in datas %}

        <tr>
            <th>{{ data['time'] }}</th>
            <th>{{ data['place'] }}</th>
            <th>{{ data['description'] }}</th>
            <th>
                <a>
                    <button class='delbutton' type='button' >編輯</button>
                </a>
                <a href="/delete/{{data['_id']}}">
                    <button class='delbutton' type='button' >刪除</button>
                </a>
            </th>
        </tr>
    {% endfor %}

{% endblock%}